<ul class="update-list">
{% for post in site.categories.updates %}
    <li>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <div class="date">{{ post.date | date_to_long_string }}</div>
        <blockquote class="post-preview">
            {{ post.content | markdownify | strip_html | truncatewords: 30, '...' }}
            {% if post.content | number_of_words > 30 %}
                <a class="read-more" href="{{ post.url }}">Read more</a>
            {% endif %}
        </blockquote>
    </li>
{% endfor %}
</ul>