<!doctype html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="stylesheet" type="text/css" href="/Craft.Net/css/global.css" />
        <link rel="stylesheet" type="text/css" href="/Craft.Net/css/code/vs.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script type="text/javascript" src="/Craft.Net/js/highlight.pack.js"></script>
        <script type="text/javascript" src="/Craft.Net/js/global.js"></script>
    </head>
    <body>
		<div id="last-update">
			{% comment %}Dirty hack
			{% for post in site.categories.updates % }
				{% if forloop.first %}
					Last Update: <a href="{{post.url}}">{{post.title}}</a>
				{% endif %}
			{% endfor %}{% endcomment %}
		</div>
        <div id="top-bar">
            Latest Commits:
            <div id="commits">
                <ul>
                    <li class="visible">Loading news...</li>
                </ul>
            </div>
            <span style="float: right;">
                <a href="https://github.com/SirCmpwn/Craft.Net/">Craft.Net on GitHub »</a>
            </span>
        </div>
        <div id="wrapper">
            {% include navigation.html %}
            <a href="https://github.com/SirCmpwn/Craft.Net" id="fork"><img src="/Craft.Net/images/fork.png" /></a>
            <div id="content">
                <h1>{{ page.title }}</h1>
                {{ content }}
            </div>
        </div>
    </body>
	<script type="text/javascript">
	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34604042-1']);
	  _gaq.push(['_trackPageview']);
	  (function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	</script>
</html>